/* Глобальные */
body {
    background-color: #f8f8f8;
    margin: 0;
}
p {
    padding: 4px 30px;
}
h1, h3, h4, h2 {
    text-align: center;
}

/* Формы, инпуты */
input[type="radio"] {
    margin: 5px 14px;
}

input[type="checkbox"] {
    margin: 5px 14px;
}
label {
    cursor: pointer;
}
input[type="submit"] {
    background-color: #53bb2f;
    padding: 5px 20px;
    border-radius: 13px;
    font-weight: 900;
    font-size: 15px;
    transition: all 1s ease;
}
input[type="reset"] {
    background-color: #d8574bc9;
    padding: 5px 20px;
    border-radius: 13px;
    font-weight: 900;
    font-size: 15px;
    transition: all 1s ease;
}
input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #4bd8c33b;
    transition: all 1s ease;
}
input#name, input#mail {
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    width: 290px;
    height: 21px;
    color: green;
    font-size: 17px;
    background-color: #2da2242b;
    text-transform: capitalize;
}

input#mail:focus {
    color: rgb(0, 0, 0);
    background-color: #b6ae672b;
}

textarea#bio {
    border-radius: 20px;
    padding: 5px;
    width: 290px;
    height: 213px;
    margin: 20px;
    overflow: hidden;
    color: green;
    font-size: 17px;
    background-color: #2da2242b;
    text-transform: capitalize;
}
form {
    margin: 0 30px;
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    border-radius: 13px;
}
.contact__block {
    border: 1px solid black;
    border-radius: 13px;
    width: fit-content;
    margin: 0 30px;
    transition: all 1s ease;
}
.contact__block:hover {
    background-color: #9acd324f;
    transition: all 1s ease;
}

.form_info {
    border: 1px solid black;
    border-radius: 13px;
    margin: 0 30px 10px;
    width: 390px;
    padding: 0;
}


/* Картинки */
.img {
    border-radius: 13px;
    border: 1px solid black;
    margin: 0 10px;  
    box-sizing: border-box;
}
.img:hover {
    border-radius: 13px;
    border: none;  
    padding: 1px;
}
.slaid {
    width: 100%;
    opacity: 0.4;
    transition: all 1s ease;
    z-index: 51;
}
.slaid:hover {
    width: 100%;
    opacity: 1;
    transition: all 1s ease;
}
.logo {
    display: inline-block;
    padding: 6px 26px;
    transition: all 1s ease;
}



/* Шапка */

header {
    background-color: rgba(46, 128, 80, 0.86);
    width: 100%;
    padding: 0 0 8px;
    margin: 0;
    position: sticky;
    top: 0;
    height: 45px;
    z-index: 100;
}


ul.menu__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    padding-top: 14px;
}
.menu__desc {
    list-style: none;
    padding: 0 11px;
    display: inline-block;
}
.menu__link  {
    font-size: 19px;
    color: rgb(196, 196, 196);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease;
    font-family: 'Neucha', cursive;
}
.menu__link:hover  {
    font-size: 19px;
    color: #ffffff;
    text-decoration: underline;
    transition: all 1s ease;
}
.active-menu {
    color: #e4f38dc9;
}
a.active-menu:before {
    content: " > ";
}

/* Товары */

h3.product__title {
    font-size: 18px;
    color: black;
    font-weight: 400;
    background-color: #eaeaea;
}
.product__mini {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product__full {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
li.product__list {
    list-style: none;
    padding: 5px;
    font-size: 14px;
    color: #208c14;
}
li.product__list:before {
    content: "";
    background: url('../../assets/img/makefg.png') 0 50% no-repeat;
    background-size: 15px;
    list-style-type: none;
    padding-left: 21px;
}

.product__price {
    font-size: 25px;
    color: #1a8064;
    font-weight: 900;
}

.product__mini::first-letter, .product__full::first-letter {
    color: rgba(46, 128, 80, 0.86);
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    padding: 0 2px 0 15px;
}





/*  кнопка наверх */
.toUp {
    border: none;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    position: fixed;
    opacity: 0.5;
    transition: all 1s ease;
}
.toUp:hover {
    opacity: 1;
    transition: all 1s ease;
}



/* футер */
footer {
    background-color: rgba(46, 128, 80, 0.86);
    width: 100%;
    bottom: 0;
    color: #c4c1a1;
}
footer p {
    margin-bottom: 0;
}



/* таблицы */
.table td {
    border: 1px solid black;
    padding: 10px;
}
.table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 40px auto;
}

.table thead {
    font-weight: 900;
    text-align: center;
    background-color: rgba(247, 255, 176, 0.671);
}