/* Глобальные */
body {
    background-color: #f8f8f8;
    margin: 0;
}
p {
    padding: 4px 30px;
}
h1, h3, h4, h2 {
    text-align: center; 
    font-family: 'Neucha', cursive;
}

/* Формы, инпуты */
input[type="radio"] {
    margin: 5px 14px;
}

input[type="checkbox"] {
    margin: 5px 14px;
}
label {
    cursor: pointer;
}
input[type="submit"] {
    background-color: #53bb2f;
    padding: 5px 20px;
    border-radius: 13px;
    font-weight: 900;
    font-size: 15px;
    transition: all 1s ease;
}
input[type="reset"] {
    background-color: #d8574bc9;
    padding: 5px 20px;
    border-radius: 13px;
    font-weight: 900;
    font-size: 15px;
    transition: all 1s ease;
}
input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #4bd8c33b;
    transition: all 1s ease;
}
input#name, input#mail {
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    width: 290px;
    height: 21px;
    color: green;
    font-size: 17px;
    background-color: #2da2242b;
    text-transform: capitalize;
}

input#mail:focus {
    color: rgb(0, 0, 0);
    background-color: #b6ae672b;
}

textarea#bio {
    border-radius: 20px;
    padding: 5px;
    width: 290px;
    height: 213px;
    margin: 20px;
    overflow: hidden;
    color: green;
    font-size: 17px;
    background-color: #2da2242b;
    text-transform: capitalize;
}
.rf {
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    border-radius: 13px;
}
.contact__block {
    border: 1px solid black;
    border-radius: 13px;
    width: fit-content;
    margin: 0 30px;
    transition: all 1s ease;
}
.contact__block:hover {
    background-color: #ffffffe1;
    transition: all 1s ease;
}

.form_info {
    border: 1px solid black;
    border-radius: 13px;
    margin: 0 30px 10px;
    width: 390px;
    padding: 0;
}
.cf {
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    border-radius: 13px;
}

.contact__form2, .contact__block {
    display: inline-block;
    vertical-align: top;
    margin: 25px;
    background-color: #f9fafaa8;
    border-radius: 13px;
}
.contact__form2 {
    font-size: 21px;
}
.contact__form2:hover{
    background-color: #ffffffe1;
    transition: all 1s ease;
}
.contact__form {
    display: block;
    vertical-align: top;
    margin: 25px auto;
    background-color: #f9fafaa8;
    border-radius: 13px;
    width: fit-content;
}


.cont_container {
    width: 1100px;
    margin: 20px auto;
}
.contact__block p {
    font-size: 20px;
}


/* Картинки */
.img {
    border-radius: 13px;
    border: 1px solid black;
    margin: 0 10px;  
    box-sizing: border-box;
}
.img:hover {
    border-radius: 13px;
    border: none;  
    padding: 1px;
}
.slaid {
    width: 100%;
    opacity: 0.4;
    transition: all 1s ease;
    z-index: 51;
}
.slaid:hover {
    width: 100%;
    opacity: 1;
    transition: all 1s ease;
}
.logo {
    display: inline-block;
    padding: 6px 26px;
    transition: all 1s ease;
}



/* Шапка */

header {
    background-color: rgba(46, 128, 80, 0.86);
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    height: 45px;
    z-index: 100;
    box-shadow: 0px 2px 5px 0px #1b501a;
    background: url('../img/h1.jpg') repeat-x 20% 0;
}


ul.menu__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    height: 45px;
    justify-content: center;
    vertical-align: baseline;
}
.menu__desc {
    list-style: none;
    display: inline-block;
}
li.menu__desc2 {
    list-style: none;
    display: inline-block;
}
.menu__desc2 label {
    width: 70px;
    height: 37px;
    display: inline-block;
    color: #c4c4c4;
    text-align: center;
}
.menu__link  {
    font-size: 19px;
    color: rgb(196, 196, 196);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.6s ease;
    font-family: 'Neucha', cursive;
    display: inline-block;
    width: 130px;
    height: 45px;
    text-align: center;
    border-bottom: 9px solid rgb(196, 196, 196);
    box-sizing: border-box;
    border-radius: 14px;    
    padding-top: 7px;
}
.menu__link:hover  {
    font-size: 19px;
    color: #ffffff;
    text-decoration: underline;
    transition: all 0.6s ease;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}
.active-menu {
    color: #e4f38dc9;
    border-bottom: 2px solid #91ff00f2;
    box-sizing: border-box;
}
a.active-menu:before {
    content: " > ";
}

/* Товары */

h3.product__title {
    font-size: 18px;
    color: black;
    font-weight: 400;
    background-color: #eaeaea;
}
.product__mini {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product__full {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
li.product__list {
    list-style: none;
    padding: 5px;
    font-size: 14px;
    color: #208c14;
}
li.product__list:before {
    content: "";
    background: url('../../assets/img/makefg.png') 0 50% no-repeat;
    background-size: 15px;
    list-style-type: none;
    padding-left: 21px;
}

.product__price {
    font-size: 25px;
    color: #1a8064;
    font-weight: 900;
}

.product__mini::first-letter, .product__full::first-letter {
    color: rgba(46, 128, 80, 0.86);
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    padding: 0 2px 0 15px;
}





/*  кнопка наверх */
.toUp {
    border: none;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    position: fixed;
    opacity: 0.5;
    transition: all 1s ease;
}
.toUp:hover {
    opacity: 1;
    transition: all 1s ease;
}



/* футер */
footer {
    background-color: rgba(46, 128, 80, 0.86);
    width: 100%;
    color: #c4c1a1;
    height: 65px;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
    overflow: hidden;
    box-shadow: 0px -2px 5px 0px #4b9168;
}
footer p {
    margin-bottom: 0;
    text-align: right;
}

.foot {
    display: inline-block;
    float: right;
    padding-right: 20px;
}


/* таблицы */
.table td {
    border: 1px solid black;
    padding: 10px;
}
.table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 40px auto;
}

.table thead {
    font-weight: 900;
    text-align: center;
    background-color: rgba(247, 255, 176, 0.671);
}


.menu {
    margin-left: auto;
  }
  .menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .menu__item {
    list-style: none;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .menu__link {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  .button-menu {
    display: none;
    position: absolute;
    right: 0;
    list-style: none;
    text-align: right;
    /* padding: 10px 0 0; */
    margin: 0;
  }
  .button-menu--open {
    display: block;
  }
  .button-menu__link {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 40px;
    display: block;
    text-decoration: none;    
    font-family: 'Neucha', cursive;
    color: black;
  }
  .button-menu__link:hover {
    background-color: #eee;
    color: #333;
  }
  #checkbox-button-menu:checked + .button-menu {
    display: block;
  }

  /* Блоки */

.char, .view, .photo, .price, .more, .care {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 20px;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
.char, .care {
    float: left;
    clear: both;
}
.more {
    clear: both;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.view, .photo, .price, .more {
    float: right;
}

.price {
    background-color: #6ea75b40;
    border-radius: 23px 0 0 23px;
    width: 300px;
    clear: both;
    font-family: 'Neucha', cursive;
}
.price h3.product__title {
    font-size: 25px;
    margin: 0;
    text-align: left;
    padding-left: 25px;
}
.go {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: block;
    color: #000000;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0.438);
    padding: 10px;
    font-family: 'Neucha', cursive;
}
.go:hover {
    font-size: 26px;
    color: #000000;
    padding: 6px 10px;
    background-color: rgba(226, 192, 43, 0.438);
    transition: all 0.1s ease;
    text-transform: uppercase;
}
.go:active {
    font-size: 26px;
    color: #ffffff;
    padding: 6px 10px;
    background-color: rgb(0, 0, 0);
    transition: all 0.1s ease;
    text-transform: uppercase;
}


/* главная */
.container {
    width: 900px;
    margin: 20px auto;
}

/* Каталог */
.catalog {
    text-align: center;
}
.animal {
    position: relative;
    display: inline-block;    
    margin: 0 20px;
}
.animal__photo {
    position: relative;
}
.animal__link {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    display: block;
    height: 100%;
}
.animal__link a {
    width: 100%;
    display: block;
    height: 100%;
    padding-top:25%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #f1f1f1a6;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.animal__link a:hover {
    background-color: #f1f1f124;
    color: #f1f1f100;
}
.animal__link a:active {
    background-color: #135306ad;
    color: #ffffff;
}